@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');

body{
    background-color: #3e4444;
    font-family: Fira Sans, sans-serif;
}
.icons{
    text-align: center;
   
}

.controls-area{
    margin-top: 20px;
}
.heading{
    text-align: center;
    font-size: 3em;
    color: #8bba5a;
}

.game-area{
    text-align: center;
    box-sizing: border-box;
    background-color: #c1946a !important;
    border-style: solid;
    width: 30%;
    height: 30vh;
    max-height: 450px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

#link{
    color: #000000;
    font-weight: bolder;
    font-size: large;
}
.anchor{
   text-align: center;
   
}

.s-count{
    text-align: center;
    align-items: center;
}

#choose{
    font-weight: 900;
    font-size: 2em;
}

.score-area{
    text-align: center;
   
}
#user-choice{
    color: whitesmoke;
    font-weight:200;
}
#computer-choice{
    color: whitesmoke;
    font-weight:200;
}
#result{
    color: whitesmoke;
    font-weight:200;
}

@media(max-width:320px){
    .game-area{
        width:100%;
        margin-bottom: 50px;
    }
    .heading{
        font-size: 1.5em;
    }
    .anchor{
        margin-top: 30px;
    }
    h4{
        margin-top: 40px;
    }
    .controls-area{
        margin-bottom: 70px;
    }
}

@media(max-width:414px){
    .game-area{
        width:100%;
        margin-bottom: 60px;
    }
    .heading{
        font-size: 1.5em;
    }
    .anchor{
        margin-top: 30px;
    }
    h4{
        margin-top: 40px;
    }
}

@media(max-width:950px){
    .game-area{
        width:70%;
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .icons{
        margin-top: 10%;
    }
    .score-area{
        margin-top: 7%;
    }
    .s-count{
        padding-bottom: 5%;
        margin-top: 5%;
    }
}

@media(max-width:1200px){
    .game-area{
        width:80%;
        margin-top: 50px;
    }

    .s-count{
        margin-top: 50px;
    }

    .score-area{
        margin-top: 25px;
    }

    .controls-area{
        margin-top: 20px;
    }
    

}