@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');

body{
    background-color: #3e4444;
    font-family: Fira Sans, sans-serif;
}
.icons{
    text-align: center;
}
.heading{
    text-align: center;
    font-size: 3em;
    color: #c1946a;
}

#link{
    color: #000000;
    font-weight: bolder;
    font-size: medium;
}

.game-area{
    text-align: center;
}

#choose-btn{
    font-weight: 900;
    font-size: 2em;
}
.reload{
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}